@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  background-color: #f2f2f2;
  inset: 0;
  z-index: 1;
  animation: disapear 3.5s forwards;
  animation-delay: 1.5s;
}
.loader__circle {
  position: absolute;
  color: #9356dc;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: animate 4.5s linear;
  animation-delay: 0.2s;
}
.loader__circle::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
  width: 20px;
  background-color: #9356dc;
  height: 20px;
  border-radius: 40%;
  box-shadow: 0 0 20px #9356dc, 0 0 60px #9356dc;
}
.loader__circle--two {
  color: #ff79da;
  width: 150px;
  height: 150px;
  animation: animate 4s linear;
  animation-delay: 0.1s;
}
.loader__circle--three {
  color: #99e2d0;
  width: 100px;
  height: 100px;
  animation: animate 3s linear;
}
.loader__circle--two::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -12px;
  width: 20px;
  background-color: #ff79da;
  height: 20px;
  border-radius: 40%;
  box-shadow: 0 0 20px #ff79da, 0 0 60px #ff79da;
}
.loader__circle--three::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -12px;
  width: 20px;
  background-color: #99e2d0;
  height: 20px;
  border-radius: 40%;
  box-shadow: 0 0 20px #99e2d0, 0 0 60px #99e2d0;
}

@keyframes animate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disapear {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.header, .header--arrow {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.header__logo, .header--arrow__logo {
  width: 200px;
}

.location {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 15px;
  font-size: 1.1em;
  box-shadow: 0 3px 5px #cdcdcd inset;
}
.location .location__text {
  margin-left: 10px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000;
}

.description {
  padding: 2em;
  text-align: center;
  background-color: #f8f8f8;
}
.description__title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}
.description__paragraph {
  font-weight: 300;
  margin-bottom: 30px;
}
.description__btn {
  color: #fff;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  padding: 13px;
  border-radius: 50px;
  box-shadow: 2px 2px 8px #cdcdcd;
}
.description__btn:active {
  background: linear-gradient(355deg, rgba(147, 86, 220, 0.85), rgba(255, 121, 218, 0.85));
  box-shadow: 10px 10px 20px #cdcdcd;
  transition-duration: 1500ms;
}

.functioning {
  padding: 15px;
}
.functioning__title {
  font-size: 1.5em;
  font-weight: bold;
}
.functioning__steps {
  counter-reset: countlist;
}
.functioning__steps li {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding: 1.5em;
  margin: 1em 0.75em;
  border-radius: 20px;
}
.functioning__steps li:active {
  background-color: #dfdfdf;
}
.functioning__steps li::before {
  counter-increment: countlist 1;
  content: counter(countlist) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: 1em;
}
.functioning__steps li .icone {
  margin-right: 15px;
  color: #919191;
}
.functioning__steps li:active .icone {
  color: #9356dc;
}

#Restaurants {
  background-color: #f8f8f8;
  padding: 15px;
}

.restaurants_title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.restaurants_contain {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.restaurants_card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 6px #cdcdcd;
  margin-bottom: 25px;
  position: relative;
}
.restaurants_card__image {
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  height: 180px;
}
.restaurants_card__new {
  background-color: #99e2d0;
  color: #1c6553;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 10px;
  font-weight: 500;
  font-size: 0.95em;
}

.card {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.card__title {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.card__title span {
  font-weight: normal;
  margin-top: 5px;
}
.card__favorites {
  font-size: 30px;
}
.card__favorites .fa-solid {
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card__favorites:active .fa-solid {
  opacity: 1;
  transform: scale(1);
}
.card__favorites:active .fa-regular {
  transition: color 0.5s ease;
  color: transparent;
  opacity: 0;
}
.card .fa-heart {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.useful_links_contain {
  background-color: #353535;
  padding: 15px;
}

.useful_links__title {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.15em;
  margin-bottom: 13px;
  margin-top: 10px;
}
.useful_links ul li {
  line-height: 1.5;
}
.useful_links__link {
  color: #fff;
}
.useful_links__link span i {
  font-size: 0.8em;
  margin-right: 5px;
}

.header--arrow span {
  position: absolute;
  left: 8px;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7em;
  height: 1.7em;
}

.menu_image {
  width: 100%;
  object-fit: cover;
}

.menu {
  background-color: #f2f2f2;
  z-index: 1;
  margin-top: -4em;
  border-radius: 35px 35px 0 0;
  position: relative;
  padding-top: 15px;
}
.menu__title {
  font-size: 1.7em;
  font-weight: 500;
  font-family: "Shrikhand", sans-serif;
}
.menu__favorites {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 20px 0 20px 20px;
}
.menu__favorites span {
  font-size: 1.7em;
}
.menu__favorites span .fa-solid {
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu__favorites span:active .fa-solid {
  opacity: 1;
  transform: scale(1);
}
.menu__favorites span:active .fa-regular {
  transition: color 0.5s ease;
  color: transparent;
  opacity: 0;
}
.menu__favorites .fa-heart {
  position: absolute;
  right: 10px;
}

.starters, .main_dish, .desserts {
  overflow: hidden;
  padding: 0 10px;
}
.starters__title, .main_dish__title, .desserts__title {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  border-bottom: #99e2d0 solid 4px;
  height: 27px;
  width: 40px;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.cards {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  margin-bottom: 15px;
  box-shadow: #cdcdcd 3px 3px 5px;
  overflow: hidden;
  cursor: pointer;
  animation: foodDelay 0.6s;
  animation-timing-function: cubic-bezier(0.5, 0.12, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.cards:nth-child(2) {
  animation-delay: 0s;
}
.cards:nth-child(3) {
  animation-delay: 0.1s;
}
.cards:nth-child(4) {
  animation-delay: 0.2s;
}
.cards:nth-child(5) {
  animation-delay: 0.3s;
}
.cards__contain, .cards__title, .cards__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cards__contain {
  flex: 1;
}
.cards__title {
  font-weight: 700;
  margin-bottom: 5px;
}
.cards__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}
.cards__confirmation {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -16px -80px -16px 16px;
  width: 64px;
  transition: all 0.5s ease;
}
.cards span {
  color: #fff;
  font-size: 1.5em;
}
.cards:active .cards__confirmation {
  margin-right: -16px;
}
.cards:active .cards__confirmation span {
  animation: checkSpin 0.5s ease;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.btn__order {
  border: 0;
  color: #fff;
  background: linear-gradient(355deg, #9356dc, #ff79da);
  padding: 15px 35px;
  border-radius: 50px;
  box-shadow: 2px 2px 8px #cdcdcd;
  font-size: 1.05em;
  font-weight: 500;
}
.btn__order:active {
  background: linear-gradient(355deg, rgba(147, 86, 220, 0.86), rgba(255, 121, 218, 0.86));
  box-shadow: 10px 10px 20px #cdcdcd;
  transition-duration: 1500ms;
}

@keyframes foodDelay {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes checkSpin {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0);
  }
}
@media screen and (min-width: 768px) {
  .restaurants_contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants_card {
    width: 48%;
  }
  .restaurants_card__image {
    height: 200px;
  }
  .useful_links__title {
    display: flex;
    justify-content: center;
  }
  .useful_links ul {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .description__btn:hover, .btn__order:hover {
    background: linear-gradient(355deg, rgba(147, 86, 220, 0.85), rgba(255, 121, 218, 0.85));
    box-shadow: 10px 10px 20px #cdcdcd;
    transition-duration: 1500ms;
  }
  .functioning__steps {
    display: flex;
  }
  .functioning__steps li {
    flex: 1;
    cursor: pointer;
  }
  .functioning__steps li::before {
    position: relative;
    left: -33px;
  }
  .functioning__steps li:hover {
    background-color: #dfdfdf;
  }
  .functioning__steps li:hover .icone {
    color: #9356dc;
  }
  .menu_image {
    height: 400px;
  }
  .card__favorites:hover .fa-solid, .menu__favorites span:hover .fa-solid {
    opacity: 1;
    transform: scale(1);
  }
  .card__favorites:hover .fa-regular, .menu__favorites span:hover .fa-regular {
    transition: color 0.5s ease;
    color: transparent;
    opacity: 0;
  }
  .cards:hover .cards__confirmation {
    margin-right: -16px;
  }
  .cards:hover .cards__confirmation span {
    animation: checkSpin 0.5s ease;
  }
}

/*# sourceMappingURL=styles.css.map */
