@import
'./utils/variables',
'./utils/animations',

'./base/base',
'./base/typography',

'./compoments/buttons',
'./compoments/cards',
'./compoments/intro',
'./compoments/loader',
'./compoments/steps',

'./layout/footer',
'./layout/header',

'./pages/menus';


/////////////////////////////////////////////////// TABLET /////////////////////////////////////////////////////////////////
@media screen and (min-width: 768px) {
    .restaurants_contain {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .restaurants_card {
        width: 48%;

        &__image {
            height: 200px;
        }
    }

    .useful_links {
        
        &__title {
            display: flex;
            justify-content: center;
        }
        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 25px;
            }
        }
    }
}

/////////////////////////////////////////////// DeskTop ///////////////////////////////////////////////////

@media screen and (min-width: 1024px) {

    .header, .header--arrow {
        background-color: #fff;
        box-shadow:  0 0 10px $shadow;
    }
    
    .description__btn:hover, .btn__order:hover {
        background: linear-gradient(355deg, rgba($color-primary,0.85), rgba($color-secondary,0.85));
        box-shadow: 10px 10px 20px $shadow;
        transition-duration: 1500ms;
    }
    .functioning__steps {
        display: flex;

        li{
            flex: 1;
            cursor: pointer;

            &::before {
                position: relative;
                left: -33px;
            }

            &:hover {
                background-color: #dfdfdf;
            }
            &:hover .icone {
                color: $color-primary;
            }
        }
    }

    .menu_image {
        position: fixed;
        top: 0;
        z-index: -1;
    }
    .menu {
        max-width: 765px;
        margin: 128px auto;
        box-shadow: 0 0 10px $shadow;
        max-width: 769px;
        border-radius: 35px;
    }

    .card__favorites, .menu__favorites span {
        &:hover .fa-solid {
            opacity: 1;
            transform: scale(1);
        }
        
        &:hover .fa-regular {
            transition: color 0.5s ease;
            color: transparent;
            opacity: 0;
            cursor: pointer;
        }
    }

    .cards {
        &:hover &__confirmation {
            margin-right: -16px;
            
            span {
                animation: checkSpin 0.5s ease;
            }
        }
    }
}