@import
'./utils/variables',
'./utils/animations',

'./base/base',
'./base/typography',

'./compoments/buttons',
'./compoments/cards',
'./compoments/intro',
'./compoments/loader',
'./compoments/steps',

'./layout/footer',
'./layout/header';


.menu_image {
    width: 100%;
    object-fit: cover;
}

.menu {
        background-color: $bg-color;
        // z-index: 1;
        margin-top: -4em;
        border-radius: 35px 35px 0 0;
        position: relative;
        padding-top: 15px;

        &__title {
            font-size: 1.7em;
            // font-weight: 500;
            font-family: 'Shrikhand', sans-serif;
        }
        &__favorites {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 20px 0 20px 20px;

            span {
                font-size: 1.7em;

                .fa-solid {
                    opacity: 0;
                    transform: scale(0);
                    transition: all 0.3s ease;
                    background: linear-gradient(355deg, $color-primary, $color-secondary);
                    -webkit-text-fill-color: transparent;
                    -webkit-background-clip: text;
                }

                    &:active, &:hover .fa-solid {
                        opacity: 1;
                        transform: scale(1);
                    }
                    
                    &:active, &:hover .fa-regular {
                        transition: color 0.5s ease;
                        color: transparent;
                        opacity: 0;
                    }
            }
            .fa-heart {
                position: absolute;
                right: 10px;
            }

        }
}

.starters, .main_dish, .desserts {
    overflow: hidden;
    padding: 0 10px;

    &__title {
        text-transform: uppercase;
        // font-weight: 400;
        position: relative;
        margin-bottom: 15px;
        font-size: 1.1em;

        &::after {
            content: " ";
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            top: 22px;
            width: 40px;
            height: 4px;
        }
    }
}

.cards {
        &:nth-child(2) {
            animation-delay: .0s;
        }
        &:nth-child(3) {
            animation-delay: .1s;
        }
        &:nth-child(4) {
            animation-delay: .2s;
        }
        &:nth-child(5) {
            animation-delay: .3s;
        }
        background-color: #fff;
        padding: 15px;
        border-radius: 15px;
        display: flex;
        margin-bottom: 15px;
        box-shadow: $shadow 3px 3px 5px;
        overflow: hidden;
        cursor: pointer;
        animation: foodDelay .6s;
        animation-timing-function: cubic-bezier(.5,.12,.34,.82);
        animation-fill-mode: both;
        transform: scale(0);
        // max-width: 100%;

        &__contain, &__title, &__description {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &__contain {
        flex: 1;
        }
        &__title {
            font-weight: 700;
            margin-bottom: 5px;
        }
        &__price {
            font-weight: 700;
            display: flex;
            align-items: flex-end;
        }

        &__confirmation {
            background-color: $color-tertiary;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: -16px -80px -16px 16px;
            width: 64px;
            transition: all  0.5s ease;
        }

        span {
            color: $color-txt;
            font-size: 1.5em;
         }
        &:active, &:hover &__confirmation {
            margin-right: -16px;
            
            span {
                animation: checkSpin 0.5s ease;
            }
        }
}

/////////////////////////////////////////////////// TABLET /////////////////////////////////////////////////////////////////
@media screen and (min-width: 768px) {
    .restaurants_contain {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .restaurants_card {
        width: 48%;

        &__image {
            height: 200px;
        }
    }

    .useful_links {
        
        &__title {
            display: flex;
            justify-content: center;
        }
        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 25px;
            }
        }
    }
}

/////////////////////////////////////////////// DeskTop ///////////////////////////////////////////////////

@media screen and (min-width: 1024px) {

    .header, .header--arrow {
        background-color: #fff;
        box-shadow:  0 0 10px $shadow;
    }
    
    .description__btn:hover, .btn__order:hover {
        background: linear-gradient(355deg, rgba($color-primary,0.85), rgba($color-secondary,0.85));
        box-shadow: 10px 10px 20px $shadow;
        transition-duration: 1500ms;
    }
    .functioning__steps {
        display: flex;

        li{
            flex: 1;
            cursor: pointer;

            &::before {
                position: relative;
                left: -33px;
            }

            &:hover {
                background-color: #dfdfdf;
            }
            &:hover .icone {
                color: $color-primary;
            }
        }
    }

    .menu_image {
        position: fixed;
        top: 0;
        z-index: -1;
    }
    .menu {
        max-width: 765px;
        margin: 128px auto;
        box-shadow: 0 0 10px $shadow;
        max-width: 769px;
        border-radius: 35px;
    }

    .card__favorites, .menu__favorites span {
        &:hover .fa-solid {
            opacity: 1;
            transform: scale(1);
        }
        
        &:hover .fa-regular {
            transition: color 0.5s ease;
            color: transparent;
            opacity: 0;
            cursor: pointer;
        }
    }

    .cards {
        &:hover &__confirmation {
            margin-right: -16px;
            
            span {
                animation: checkSpin 0.5s ease;
            }
        }
    }
}