.header,
.header--arrow {
    display: flex;
    justify-content: center;
    padding: 15px;

    &__logo {
        width: 200px;
    }
}

.header--arrow span {
    position: absolute;
    left: 8px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7em;
    height: 1.7em;
}