.description__btn {
    color: $color-txt;
    background: linear-gradient(355deg, rgba($color-primary,1), rgba($color-secondary,1));
    padding: 13px;
    border-radius: 50px;
    box-shadow: 2px 2px 8px $shadow;
    &:active, &:hover {
        background: linear-gradient(355deg, rgba($color-primary,0.85), rgba($color-secondary,0.85));
        box-shadow: 10px 10px 20px $shadow;
        transition-duration: 1500ms;
    }
}

.btn {
    display: flex;
    justify-content: center;
    padding: 40px 0;

    &__order {
        border: 0;
        color: $color-txt;
        background: linear-gradient(355deg, rgba($color-primary,1), rgba($color-secondary,1));
        padding: 15px 35px;
        border-radius: 50px;
        box-shadow: 2px 2px 8px $shadow;
        font-size: 1.05em;
        font-weight: 500;
        &:active, &:hover{
            background: linear-gradient(355deg, rgba($color-primary,0.86), rgba($color-secondary,0.86));
            box-shadow: 10px 10px 20px $shadow;
            transition-duration: 1500ms;
        }
    }
}